<div class="row text-center justify-content-center">
  <h1 class="my-3">予定詳細</h1>
 
  <div class="col-sm-12 col-md-6">
    <table class="table table-bordered table-striped">
      <tr>
        <th>予定名</td>
        <td><%= @schedule.name %></td>
      </tr>
      <tr>
        <th>開始時刻</td>
        <td><%= @schedule.start_at.strftime("%-m月%d日 %-H:%M") %></td>
      </tr>
      <tr>
        <th>終了時刻</td>
        <td><%= @schedule.end_at.strftime("%-m月%d日 %-H:%M") %></td>
      </tr>
      <% if @schedule.work %>
        <tr>
          <th>勤務先</td>
          <td><%= @schedule.work.name %></td>
        </tr>
      <% end %>
      <tr>
        <th>メモ</td>
        <td><%= @schedule.memo %></td>
      </tr>
    </table>
  </div>
  
  <div class="d-flex justify-content-center">
    <%= link_to '予定一覧', root_path, class: 'btn btn-outline-secondary' %>
    <%= link_to '編集', edit_schedule_path(@schedule), class: 'btn btn-primary mx-3' %>
    <%= link_to '削除', schedule_path(@schedule), method: :delete, data: {confirm: "削除してよろしいですか？"}, class: 'btn btn-danger' %>
  </div>
</div>

