<ul class="nav nav-tabs">
  <li class="nav-item col-4 text-center">
    <a href="<%= root_path %>" class="nav-link <%= 'active' if current_page?(root_path) %>">予定</a>
  </li>
  <li class="nav-item col-4 text-center">
    <a href="<%= expenses_path %>" class="nav-link <%= 'active' if current_page?(expenses_path) %>">収支</a>
  </li>
  <li class="nav-item col-4 text-center">
    <a href="<%= works_path %>" class="nav-link <%= "active" if current_page?(works_path) %>">勤務先</a>
  </li>
</ul>